.carousel {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  margin-top: 110px;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.slides img {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.slides img:first-child {
  margin-right: 10px;
}

.slides img:last-child {
  margin-left: 10px;
}

.slides img:hover {
  transform: scale(1.04);
  transition: transform 0.3s;
}


.slide {
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 1;
  font-size: 20px;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

@media (min-width: 768px) {
  .prev, .next {
    font-size: 24px;
  }
}

@media (min-width: 992px) {
  .prev, .next {
    font-size: 28px;
  }
}

.indicators {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.indicator {
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.indicator.active {
  background-color: #555;
}