body {
  background-color: #000000;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  background-color: #000000; 
  height: 30px; 
  border: #9b2cbd 1px solid;
}

.navbar-items {
  display: flex;
}

.navbar-items a {
  text-decoration: none;
  color: #9b2cbd;
  font-weight: bold;
  margin-right: 20px;
}

.hamburger {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  outline: none;
  color: #9b2cbd;
}

@media (min-width: 768px) {
  .navbar-items {
      display: flex;
  }
  .navbar {
      justify-content: space-between;
  }

  .hamburger {
      display: none;
  }
}

@media (max-width: 768px) {
  .navbar-items {
      position: absolute;
      top: 60px;
      right: 20px;
      flex-direction: column;
      background-color: #000000;
      padding: 10px;
      border-radius: 5px;
      display: none;
  }

  .navbar-items.show {
    display: flex;
  }

  .hamburger {
      display: block;
  }
}

.large-images {
  display: none;
}

@media (min-width: 768px) {
  .large-images {
      display: flex;
      justify-content: center;
      gap: 100px;
      margin-top: 100px;
  }
  
  .large-images img {
    width: 200px; 
    height: auto;
  }
}

.medium-images {
  display: none;
}

@media (max-width: 768px) {
  .medium-images {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 100px;
  }

  .medium-images img {
    width: 150px; 
    height: auto;
  }
}

footer {
  width: 100%;
  height: 40px;
  background-color: #000;
  color: #9b2cbd;
  padding: 30px 0;
  text-align: center;
  border: #9b2cbd 1px solid;
}

.footer-items {
  margin-bottom: 20px;
}

.footer-items a {
  text-decoration: none;
  color: #9b2cbd;
  margin: 0 10px;
}

.footer-items a:hover {
  text-decoration: underline;
}

p {
  margin: 0;
}