body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(0, 0, 0);
}

.info {
  color: #fff;
  text-align: center;
  margin-top: 20px;
}

.info-container {
  border: 2px solid #ffcc00;
  margin-top: 20px;
}

.game-container {
  text-align: center;
}

.flex-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 50px);
  grid-template-rows: repeat(5, 50px);
  gap: 5px;
}

.grid-item {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 50px;
}

#start-btn,
#restart-btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition-duration: 0.4s;
}

#start-btn:hover,
#restart-btn:hover {
    background-color: #45a049;
}